<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>"
    lang="<%- lang %>">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <p class="toctitle">
        <%= tocTitle %>
    </p>

    <nav id="toc" epub:type="toc">
        <ol>
            <% content.forEach(function(content, index){ %>
            <li class="toc">
                <a href="<%= content.filename %>">
                    <%= ("Chapter "+ (1+index)) %>
                    <% if(content.title){ %>
                        : <%= content.title %>
                    <% }%>
                </a>
            </li>
            <% }) %>
        </ol>
    </nav>

</body>

</html>