<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="<%- lang %>">

<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h2>
        <span class="chapter-number">&#160;&#160;&#160;<%= number %>&#160;&#160;&#160;</span>
    </h2>
    <h2 class="chapter-title"><%= title %></h2>
    <div class="content">
        <%- data %>
    </div>
</body>

</html>